<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-md-center align-items-center">
    <h1>My Accesses</h1>
    <table class="table table-striped table-borderless">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Access</th>
        </tr>
      </thead>
        {% for access in accesses %}
            <tr>
                <td>
                    <a href="{{ url_for('files.resource', sub_path=access['path']) }}">
                        {{ access['path']}}
                    </a>
                </td>
                <td>
                    <div>
                        {{ access['accessType'] }}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}