<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-md-center align-items-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Size</th>
          <th scope="col">Modified</th>
          <th scope="col">Directory</th>
        </tr>
      </thead>
          {% for file in files %}
          <tr>
              <td>
                  <a href="{{ file['name'] }}">
                      {{ file['name'] }}
                  </a>
              </td>
            <td>{{ file['size'] }}</td>
            <td>{{ file['modified'] }}</td>
            <td>{{ file['isDir'] }}</td>
          </tr>
          {% endfor %}
    </table>
  </div>
</div>
{% endblock %}