<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block  content %}
<br>
<div class="container">
  <div class="row justify-content-md-center align-items-center">
    <div class="col-md-6 jumbotron">
      <h1 class="display-4">File uploading</h1>
      {% if file_not_found %}
        <div class="alert alert-danger" role="alert">
            File to upload not found!
        </div>
      {% endif %}
      {% if path %}
        <div class="alert alert-success long_word_fix" role="alert">
            File <a href="{{ url_for('files.resource', sub_path=path) }}">"{{ path }}"</a> upload success.
        </div>
      {% endif %}
      <hr class="my-4">
      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Choose file:</label>
            <input type="file" name="file" class="form-control-file" id="file" required/>
        </div>
        <div class="form-group">
            <label>Save to directory:</label>
            <select name="to_dir" class="form-control" required>
              {% for access in access_dir %}
                <option value="{{ access['path'] }}">{{ access['path'] }}</option>
              {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" class="btn btn-primary form-control" value="Upload"/>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}