<!DOCTYPE html>

{% extends "base.html" %}

{% block  content %}
<br>
<div class="container">
  <div class="row justify-content-md-center align-items-center">
    <div class="col-md-11 jumbotron">
      <h1 class="display-4">FTP</h1>
      <p class="lead">Your files everywhere!</p>
      <hr class="my-4">
      <p>Upload your file in our service and use it from where you want</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
</div>
{% endblock %}